<nav class="white nav-index" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo"><img src="../../images/lp/logoLPM.svg"
        alt="Leva Pra Mim Logo"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="auth/login">Login</a></li>
      <li><a href="auth/signup">Cadastre-se</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="auth/login">Login</a></li>
      <li><a href="auth/signup">Cadastre-se</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center"><b>LevaPraMim</b></h1>
      <div class="row center">
        <h5 class="header center">Aproveite a carona de alguém e <b>peça para levar o que você precisa.</b><br> É mais
          barato e seguro.</h5>
      </div>
      <div class="row center">
        <a href="auth/signup" class="btn-large btn-fixed-280  waves-effect waves-light">Cadastre-se Agora</a>
      </div>
      <div class="icon-block">
        <a href="#how-works">
          <h2 class="center white-text"><i class="material-icons">keyboard_arrow_down</i></h2>
        </a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../images/lp/background-img-00.png" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div id="how-works" class="row center-padding">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">account_circle</i></h2>
          <h5 class="center">Cadastre-se. É rápido!</h5>

          <p class="light">Comece a usar o quanto antes. O cadastro é rápido e seguro e em menos de 2 minutos você já
            estará utilizando o LevaPraMim. Economize agora.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">file_upload</i></h2>
          <h5 class="center">Cadastre o que você quer que levem!</h5>

          <p class="light">Registre o que precisa que levem para você. Coloque a origem, destino e descreva-o. Alguém
            entrará em contato com você para levá-lo.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">directions_car</i></h2>
          <h5 class="center">Quer levar e ganhar dinheiro?</h5>

          <p class="light">Sim, você pode ganhar dinheiro também. Cadastre alguma viagem que você irá fazer e se ofereça
            para levar algo para alguém. Dinheiro rápido e fácil.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3><b>Tem uma viagem marcada?</b></h3>
        <h5 class="header col s12 light">Cadastre-se e coloque para onde vai e ganhe dinheiro levando algo para alguém!
        </h5>
      </div>
      <div class="center">
        <a href="auth/signup" class="btn-large btn-fixed-280 waves-effect waves-light">Cadastre-se Agora</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../images/lp/background-img-01.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row center-padding">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>LevaPraMim</h4>
        <p class="center-align light"> LevaPraMim veio para revolucionar o mercado de entregas. Chega de pagar altas
          taxas para enviar alguma coisa para alguém pelo Brasil. Sempre existirá alguém indo para o lugar que você
          deseja enviar o que precisa, basta entrar no LevaPraMim e procurar a viagem desejada. Não achou a sua viagem?
          Cadastre o que você precisa levar e espere alguém entrar em contato com você. Vai viajar? Então ganhe dinheiro
          levando algo para alguém. <b>LevaPraMim. Levar e receber encomendas nunca foi tão fácil.</b></p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3><b>LevaPraMim</b></h3>
        <h5 class="header col s12 light">Levar algo para alguém nunca foi tão fácil.</h5>
      </div>
      <div class="center">
        <a href="auth/signup" class="btn-large btn-fixed-280 waves-effect waves-light">Cadastre-se Agora</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../images/lp/background-img-02.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">LevaPraMim</h5>
        <p class="grey-text text-lighten-4">Conectando e levando algo para alguém da maneira mais fácil e segura.
          <b>LevaPraMim. Levar algo para alguém nunca foi tão fácil.</b></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.js"></script>
<script src="../../js/init.js"></script>