<div class="container auth">
  <div class="section">
    <div class="row center">
      <div class="col offset-l3 l6 offset-m2 m8 offset-s1 s10">
        <h3>Agora, responda qual é o seu objetivo aqui.</h3>
        <div>
          <a class="btn-block waves-effect waves-light btn-large"><i class="large material-icons left">directions_car</i>Quero ser motorista</a>
          <br></br>
          <a class="btn-block waves-effect waves-light btn-large"><i class="large material-icons left">present_to_all</i>Preciso que levem algo para mim</a>
        </div>
      </div>   
    </div>
  </div>
</div>