<div>
    <a href="/dashboard" class="btn-close right"><i class="material-icons">close</i></a></li>
</div>

<div class="container auth">
    <div class="section">
        <div class="row center">
            <div class="col offset-l3 l6 offset-m2 m8 offset-s1 s10">
                <h3>Antes de entrar em contato, escolha o seu objeto</h3>
                <p>O objeto selecionado é o que será levado na viagem<p></p>
            </div>
            
            <div class="row">

                <form action="" method="POST">
                    {{#if objects}}
                    <div class="col l12 m12 s12">
                        <div class="row center-cols center-align">
                            {{#each objects}}
                            <div class="col l3 m4 s10">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../../images/dashboard/dark-map.png">
                                    </div>
                                    <div class="card-content">
                                        <p>{{description}}</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="">Selecionar</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{else}}
                    <div>
                        <h3>Nenhum objeto cadastrado.</h3>
                    <a href="registerObject">Cadastrar Objeto</a>
                    </div>
                    {{/if}}
                </form>
            </div>
            
        </div>
    </div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.js"></script>
