<div class="container auth">
  <div class="section">
    <div class="row center">
      <div class="col offset-l3 l6 offset-m2 m8 offset-s1 s10">
        <h1 class="center green-text"><i class="large material-icons">check</i></h1>
        <h3>Legal! Agora é só esperar.</h3>
        <p>Enviamos um e-mail para você e para o outro usuário. Assim que ele responder vocês podem conversar e combinar entre vocês o melhor jeito. </p>
        <div class="row center">
          <a href="/dashboard" class="btn-large waves-effect waves-light">Voltar para a plataforma</a>
        </div>
      </div>
    </div> 
  </div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

