<div class="container auth">
  <div class="section">
    <div class="row center">
      <div class="col offset-l3 l6 offset-m2 m8 offset-s1 s10">
        <h1 class="center green-text"><i class="large material-icons">check</i></h1>
        <h3>Legal! Seu cadastro foi efetuado com sucesso.</h3>
        <p>E que tal, antes de continuarmos, você subir uma foto sua? <br> É importante para a segurança e confiança.</p>
        {{#if errorMessage}}
        <div>
          <p class="error-message">{{errorMessage}}</p>
        </div>
        {{/if}}
        <div class="row">
          <form action="/auth/signup/photo/{{id}}" method="POST" enctype="multipart/form-data">
            <div>
              <div id="main-cropper"></div>
              <a class="btn btn-block waves-effect waves-light action-upload">
                <span id="upload">Buscar foto</span>
                <span class="action-done">Buscar nova foto</span>
                <input type="file" name="photo" value="Escolha a imagem" accept="image/*">
              </a>
              <button class="btn btn-block waves-effect waves-light action-done" type="submit" value="SAVE">Continuar</button>
            </div>
          </form>
          <div>
            <h6><a href="/auth/signup-step">Continuar sem foto</a></h6>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>
<script src="../../js/editImageSignUp.js"></script>