@import "./materialize.scss";
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,600,700,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css");

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  font-family: "Barlow", sans-serif;
}

body {
  font-size: 16px;
}

nav ul a,
nav .brand-logo {
  color: black;
}

h1 {
  font-size: 3.5em;
}

h5 {
  line-height: 1.5em;
}

p {
  line-height: 2rem;
}

button {
  font-family: "Barlow", sans-serif;
}

.btn-block {
  width: 100%;
}

.btn-dash {
  margin-right: 0 !important;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 82%;
}

.input-field {
  margin-bottom: 4em;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.action-done {
  display: none;
  margin-top: 24px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 420px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

.auth h3,
button {
  margin-bottom: 1em;
}

.auth p {
  margin-bottom: 2em;
}

.error-message {
  color: red;
  font-size: 0.8em;
}




// DROPDOWN STYLES

.dropdown-trigger {
  padding: 0 24px;
}




// DASHBOARD STYLES

.dashboard {
  margin-top: 60px;
}

.content {
  margin-top: 60px;
}




// CARD STYLES

.card-subtitle {
  font-size: 0.7em !important;
}

.card-space {
  margin-bottom: 32px;
}

// Col Cards Styles
.center-cols > .col {
  margin-top: 48px;
  // float: none; /* disable the float */
  // display: inline-block; /* make blocks inline-block */
  // text-align: initial; /* restore text-align to default */
}

//




.vl {
  border-left: 1px solid #efefef;
  height: 60px;
  margin: 5px;
}




// TABS STYLES

.tabs {
  border-bottom: lightgrey 1px solid;
}

.tab {
  height: 80px !important;
}

.tabs .tab a {
  color: #000;
  // text-transform: none !important;
}

.tabs .tab a:hover {
  color: $secondary-color;
}

.tabs .tab a.active {
  color: $secondary-color;
}

.tabs .indicator {
  background-color: $secondary-color;
}

// END TAB STYLES

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }

  nav .brand-logo {
    font-size: 1.5em;
  }

  .intro {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }

  .dashboard {
    margin-top: 36px;
  }

  .content {
    margin-top: 24px;
  }

  .card-subtitle {
    font-size: 0.7em !important;
  }

  .card-title {
    font-size: 1.2em !important;
  }
}
