<div class="container auth">
  <div class="section">
    <div class="row center">
      <div class="col offset-l3 l6 offset-m2 m8 offset-s1 s10">
        <h1 class="center green-text"><i class="large material-icons">check</i></h1>
        <h3>Legal! Seu cadastro foi efetuado com sucesso.</h3>
        <p>E que tal, antes de continuarmos, você subir uma foto sua? <br> É importante para a segurança e confiança.</p>
        
        <div class="row">
          <form action="" method="POST">

              <div class="input-field">
                <input id="name" type="text" class="validate">
                <label for="name">Seu nome</label>
              </div>

            <a class="btn btn-block waves-effect waves-light" type="submit" href="/auth/signup-step">Continuar</a>
            <a class="btn btn-block waves-effect waves-light" type="submit" href="/auth/signup-step">Continuar sem foto</a>

          </form>
        </div>

      </div>
        
    </div>
  </div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.js"></script>
<script src="../../js/init.js"></script>