<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Leva Pra Mim</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/auth/login">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/auth/login">Login</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container auth">
  <div class="section">
    <div class="row center">
      <div class="col offset-l3 l6 offset-m2 m8 offset-s1 s10">
        <h3>Cadastre-se</h3>

        <div class="row">
          <button class="btn btn-block waves-effect waves-light blue darken-4" type="submit">Cadastre-se com Facebook</button>
        </div>

        <div class="row">
          <p>ou coloque os dados abaixo para efetuar o cadastro</p>
          <form action="/auth/signup" method="POST">
              {{#if errorMessage}}
              <div>
                <p class="error-message">{{errorMessage}}</p>
              </div>
              {{/if}}
              <div class="input-field">
                <input id="name" name="name" type="text" class="validate">
                <label for="name">Seu nome</label>
              </div>

              <div class="input-field">
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Seu e-mail</label>
              </div>

              <div class="input-field">
                <input id="username" name="username" type="text" class="validate">
                <label for="username">Escolha um nome de usuário</label>
              </div>

              <div class="input-field">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Escolha uma senha</label>
              </div>

            <button class="btn btn-block waves-effect waves-light" type="submit">Cadastrar</button>

          </form>
        </div>

      </div>
        
    </div>
  </div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.js"></script>
<script src="../../js/init.js"></script>